---
import Posts from '../components/preact/Posts'
import Glyph from '../components/svg/Glyph.astro'
import Layout from '../layouts/Layout.astro'
import { getCollection } from 'astro:content'
const allPosts = await getCollection('posts')
---

<Layout title='Blog'>
  <article class='min-h-screen px-0 sm:px-10'>
    <div>
      <div class='relative mx-auto sm:mx-0 w-fit'>
        <Glyph className='absolute left-3 top-1' width='30' />
        <input
          id='search'
          placeholder='Search Posts'
          class='mx-2 mt-14 block w-80 rounded-lg border-2 border-gray-500 bg-transparent py-1 pl-10 pr-2 outline-none dark:text-white'
          type='text'
        />
      </div>
      <Posts client:load allPosts={allPosts} />
    </div>
  </article>
</Layout>
<script>
  import { searchStore } from '../stores/searchStore'
  document.addEventListener('astro:page-load', () => {
    const search = document.getElementById('search') as HTMLInputElement
    search?.addEventListener('input', () => {
      searchStore.set(search.value)
    })
  })
</script>
