---
import Layout from '../layouts/Layout.astro'
import FirstArticle from '../components/FirstArticle.astro'
import SecondArticle from '../components/SecondArticle.astro'
---

<Layout title='José Miguel - Official'>
  <main class='h-screen overflow-auto'>
    <section class='mx-auto w-full bg-black bg-opacity-85 lg:w-10/12'>
      <FirstArticle />
      <SecondArticle />
    </section>
  </main>
</Layout>
