---
import LinkedInIcon from './svg/Contact/LinkedInIcon.astro'
import UpworkIcon from './svg/Contact/UpworkIcon.astro'
import GithubIcon from './svg/tech/GithubIcon.astro'
import GmailIcon from './svg/Contact/GmailIcon.astro'
import { basics } from '../schema/jsonresume.json'
---

<ul class='flex gap-5'>
  <a target='_blank' href={basics.profiles[2].url}>
    <LinkedInIcon class='h-7 w-7' />
  </a>
  <a target="_blank" href={basics.profiles[3].url}>
	  <UpworkIcon class='h-7 w-7' />
  </a>
  <a target="_blank" href={basics.profiles[1].url}>
	  <GithubIcon class='h-7 w-7' />
  </a>
  <a href="/email">
	  <GmailIcon class='h-7 w-7' />
	</a>
</ul>
