<a
  {...Astro.props}
  class='flex h-16 w-full items-center justify-center rounded-none bg-gray-100 px-6 font-semibold transition-colors sm:w-auto sm:rounded sm:bg-transparent sm:hover:bg-gray-200 dark:bg-[var(--gray)] dark:hover:bg-gray-700 dark:sm:bg-transparent'
>
  <slot />
</a>
