---
import ResponsiveTitle from './ResponsiveTitle.astro'
import ShowProject from './ShowProject.astro'
import { projects } from '../schema/jsonresume.json'
---

<article class='min-h-screen pb-20 lg:px-20' id='projects'>
  <ResponsiveTitle class='py-20 text-center lg:pl-20 lg:text-start'>Projects</ResponsiveTitle>
  <section class='flex gap-10 overflow-x-auto px-10 py-10'>
    {
      projects.map((project) => (
        <a href={`/projects/${project.slug}`}>
          <ShowProject project={project} />
        </a>
      ))
    }
  </section>
</article>
