---
interface Props {
	class?: string
	size?: 'sm' | 'md' | 'lg'
}

const { class: className, size = 'lg' }: Props = Astro.props
let sizeString = {
  sm: 'lg:text-xl xl:text-xl 2xl:text-2xl',
  md: 'lg:text-xl xl:text-xl 2xl:text-2xl',
  lg: 'lg:text-xl xl:text-xl 2xl:text-2xl'
}
---

<p
	class={`mt-3 max-w-[50ch] text-pretty indent-10 lg:pl-6 ${sizeString[size]} ${className}`}
>
	<slot />
</p>
