---
import ResponsiveParagraph from './ResponsiveParagraph.astro'
import ResponsiveTitle from './ResponsiveTitle.astro'
import AstroIcon from './svg/AstroIcon.astro'
import ExpressjsIcon from './svg/ExpressjsIcon.astro'
import NodeIcon from './svg/NodeIcon.astro'
import PostgresIcon from './svg/PostgresIcon.astro'
import PrismaIcon from './svg/PrismaIcon.astro'
import ReactIcon from './svg/ReactIcon.astro'
---

<article class='min-h-screen px-20'>
  <ResponsiveTitle class='py-20 pl-20'>Projects</ResponsiveTitle>
  <section class='flex min-h-80 items-center justify-center'>
    <article class='w-2/3'>
      <ResponsiveTitle class='pl-24 text-yellow-200' type='md'>Cortito</ResponsiveTitle>
      <ResponsiveParagraph
        >Cortito is an open source full stack link shortener, it will create it easily and you can
        sign in with google or github to save your shortcuts. It was made in Astro with React for
        Frontend and Express.js, Prisma and PostgreSQL for backend.
      </ResponsiveParagraph>
    </article>
    <article class='w-1/3 mt-24'>
      <figure class=''>
        <img class='rounded' src={'/secrettito.png'} alt='secrettito image' />
      </figure>
      <ul class='mx-auto mt-4 flex justify-center items-center gap-4'>
          <AstroIcon class='mt-2.5 h-10 w-10' />
        <ReactIcon class='h-10 w-10' />
        <NodeIcon class='mt-1.5 h-10 w-10' />
        <ExpressjsIcon class='h-11 w-11 mt-2' />
        <PostgresIcon class='mt-1.5 h-10 w-10' />
        <PrismaIcon class='h-9 w-9' />
      </ul>
    </article>
  </section>
</article>
