---
import ResponsiveTitle from './ResponsiveTitle.astro'
import ResponsiveParagraph from './ResponsiveParagraph.astro'
import { getIcons } from '../utils/iconList'

interface Project {
  name: string
  description: string
  slug: string
  technologies: string[]
  website: string
  github: string
  issues: string[]
}

interface Props {
  project: Project
  class?: string
}

const { project, class: className }: Props = Astro.props
---

<section class={`w-fit rounded h-60 hover:bg-gray-700 transition-colors ${className}`}>
  <figure class='mx-auto w-80'>
    <img transition:name={`${project.name} video`} src={`/${project.slug}.png`} />
  </figure>
  <ul class='mx-auto mt-4 flex flex-nowrap items-center justify-center gap-4'>
    {
      getIcons(project.technologies).map(({ Icon, className }) => {
        // eslint-disable-next-line @typescript-eslint/no-explicit-any
        return <Icon class={className} />
      })
    }
  </ul>
</section>
