---
import { ViewTransitions } from 'astro:transitions'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap'
      rel='stylesheet'
    />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <article class='relative overflow-x-hidden pt-20'>
      <Header />
      <slot />
      <Footer />
    </article>
    <style is:global>
      :root {
        --gray: #17202a;
      }
      html {
        @apply bg-gray-100
      }
      html.dark {
        @apply bg-[var(--gray)] text-gray-100;
      }

      input,
      textarea {
        @apply text-gray-900;
      }

      .animate-float {
        animation: floatAnimation 2s ease-in-out infinite;
      }
      @keyframes floatAnimation {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-12px);
        }
        100% {
          transform: translateY(0);
        }
      }
    </style>
  </body>
</html>
